@main("8th Sence"){
    
        <head>
            <meta charset="UTF-8">

            <style type="text/css">

                    body{
                        background-color: black;
                    }
                    .h1 {
                        font-family: "Times New Roman", Times, serif;
                    }
                    p.italic{
                        font-family: "Times New Roman", Times, serif;
                        font-style: italic;
                    }
            </style>
        </head>
        <body>

            <center> <img src="@routes.Assets.at("images/sense.png")" width="400" height="400" style="border: 1px solid sandybrown"></center>
            <h1 class="h1"><center><font color="#f8f8ff"> 8 TH SENCE PRODUCTIONS</font></center></h1>
            <br>
            <br>
            <p class="italic"><center><font color="#f8f8ff" size="15">We sew Wings To Your Dreams.</font> </center></p>
        </body>
}
